---
layout: default
---
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	<div class="mdl-card mdl-cell mdl-cell--12-col">
	  <div class="mdl-card__supporting-text">
	    <h4>{{ page.title }}</h4>
	    Fire us your concern!
	    <div class="form">
	    	<form action="http://formspree.io/foodtalkproject@gmail.com">
	    		<label for="_replyto">Your email:</label>
				<input class="" type="email" name="_replyto">
				<label for="body">Your message:</label>
				<textarea class="" name="body"></textarea>
				<input type="submit" value="Send" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
			</form>
	    </div>
	  </div>
</section>
